In [13]:
import os
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [14]:
# Dynamic path settings
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath("__file__")))
DATA_DIR = os.path.join(BASE_DIR, "dataset")
TRAIN_TEST_SPLIT_DIR = os.path.join(BASE_DIR, "train_test_split")

In [15]:
# Check if directories exist and create if they don't
if not os.path.exists(TRAIN_TEST_SPLIT_DIR):
    os.makedirs(TRAIN_TEST_SPLIT_DIR)

In [16]:
# File paths
product_csv_path = os.path.join(DATA_DIR, "product_details.csv")
customer_csv_path = os.path.join(DATA_DIR, "customer_details.csv")
sales_csv_path = os.path.join(DATA_DIR, "sales_data.csv")

In [17]:
# Reading CSV files
products_df = pd.read_csv(product_csv_path)
customers_df = pd.read_csv(customer_csv_path)
sales_df = pd.read_csv(sales_csv_path)

In [18]:
# Dropping rows with missing values in specific columns
sales_df.dropna(subset=['user id', 'product id', 'Interaction type', 'Time stamp'], inplace=True)

In [19]:
# Checking the data
print("Products DataFrame:\n", products_df.head(), "\n")
print("Customers DataFrame:\n", customers_df.head(), "\n")
print("Sales DataFrame:\n", sales_df.head(), "\n")

Products DataFrame:
                            Uniqe Id
0  4c69b61db1fc16e7013b43fc926e502d  \
1  66d49bbed043f5be260fa9f7fbff5957
2  2c55cae269aebf53838484b0d7dd931a
3  18018b6bc416dab347b1b7db79994afa
4  e04b990e95bf73bbe6a3fa09785d7cd0

                                        Product Name  Brand Name  Asin
0  DB Longboards CoreFlex Crossbow 41" Bamboo Fib...         NaN   NaN  \
1  Electronic Snap Circuits Mini Kits Classpack, ...         NaN   NaN
2  3Doodler Create Flexy 3D Printing Filament Ref...         NaN   NaN
3  Guillow Airplane Design Studio with Travel Cas...         NaN   NaN
4                   Woodstock- Collage 500 pc Puzzle         NaN   NaN

                                            Category Upc Ean Code  List Price
0  Sports & Outdoors | Outdoor Recreation | Skate...          NaN         NaN  \
1  Toys & Games | Learning & Education | Science ...          NaN         NaN
2          Toys & Games | Arts & Crafts | Craft Kits          NaN         NaN
3  Toys & Games | Hobbies | Models & Model Kits |...          NaN         NaN
4            Toys & Games | Puzzles | Jigsaw Puzzles          NaN         NaN

  Selling Price  Quantity Model Number  ...
0       $237.68       NaN          NaN  ...  \
1        $99.95       NaN        55324  ...
2        $34.99       NaN          NaN  ...
3        $28.91       NaN          142  ...
4        $17.49       NaN        62151  ...

                                         Product Url Stock Product Details
0  https://www.amazon.com/DB-Longboards-CoreFlex-...   NaN             NaN  \
1  https://www.amazon.com/Electronic-Circuits-Cla...   NaN             NaN
2  https://www.amazon.com/3Doodler-Plastic-Innova...   NaN             NaN
3  https://www.amazon.com/Guillow-Airplane-Design...   NaN             NaN
4  https://www.amazon.com/Woodstock-Collage-500-p...   NaN             NaN

  Dimensions Color Ingredients Direction To Use  Is Amazon Seller
0        NaN   NaN         NaN              NaN                 Y  \
1        NaN   NaN         NaN              NaN                 Y
2        NaN   NaN         NaN              NaN                 Y
3        NaN   NaN         NaN              NaN                 Y
4        NaN   NaN         NaN              NaN                 Y

  Size Quantity Variant  Product Description
0                   NaN                  NaN
1                   NaN                  NaN
2                   NaN                  NaN
3                   NaN                  NaN
4                   NaN                  NaN

[5 rows x 28 columns]

Customers DataFrame:
    Customer ID  Age Gender Item Purchased  Category  Purchase Amount (USD)
0            1   55   Male         Blouse  Clothing                     53  \
1            2   19   Male        Sweater  Clothing                     64
2            3   50   Male          Jeans  Clothing                     73
3            4   21   Male        Sandals  Footwear                     90
4            5   45   Male         Blouse  Clothing                     49

        Location Size      Color  Season  Review Rating Subscription Status
0       Kentucky    L       Gray  Winter            3.1                 Yes  \
1          Maine    L     Maroon  Winter            3.1                 Yes
2  Massachusetts    S     Maroon  Spring            3.1                 Yes
3   Rhode Island    M     Maroon  Spring            3.5                 Yes
4         Oregon    M  Turquoise  Spring            2.7                 Yes

   Shipping Type Discount Applied Promo Code Used  Previous Purchases
0        Express              Yes             Yes                  14  \
1        Express              Yes             Yes                   2
2  Free Shipping              Yes             Yes                  23
3   Next Day Air              Yes             Yes                  49
4  Free Shipping              Yes             Yes                  31

  Payment Method Frequency of Purchases
0          Venmo            Fortnightly
1           Cash            Fortnightly
2    Credit Card                 Weekly
3         PayPal                 Weekly
4         PayPal               Annually

Sales DataFrame:
    user id                        product id Interaction type
0      1.0  4c69b61db1fc16e7013b43fc926e502d         purchase  \
1      2.0  66d49bbed043f5be260fa9f7fbff5957             view
2      3.0  2c55cae269aebf53838484b0d7dd931a             like
3      4.0  18018b6bc416dab347b1b7db79994afa             view
4      5.0  e04b990e95bf73bbe6a3fa09785d7cd0             like

        Time stamp  Unnamed: 4
0  10/10/2023 8:00         NaN
1  11/10/2023 8:00         NaN
2  12/10/2023 8:00         NaN
3  13/10/2023 8:00         NaN
4  14/10/2023 8:00         NaN

In [20]:
# Converting timestamp to datetime format
try:
    sales_df['Time stamp'] = pd.to_datetime(sales_df['Time stamp'], dayfirst=True)
except Exception as e:
    raise ValueError(f"Error converting 'Time stamp' to datetime: {e}")

In [21]:
# Encoding user and product IDs to numeric values
user_encoder = LabelEncoder()
product_encoder = LabelEncoder()
sales_df['user_id'] = user_encoder.fit_transform(sales_df['user id'])
sales_df['product_id'] = product_encoder.fit_transform(sales_df['product id'])

In [22]:
# Map interaction types to numeric values
interaction_mapping = {'view': 1, 'like': 2, 'purchase': 3}
sales_df['interaction_type'] = sales_df['Interaction type'].map(interaction_mapping)

In [23]:
# Splitting data into training and test sets
train_df, test_df = train_test_split(sales_df, test_size=0.2, random_state=42)

In [24]:
# Saving processed data
train_sales_path = os.path.join(TRAIN_TEST_SPLIT_DIR, "train_sales_data.csv")
test_sales_path = os.path.join(TRAIN_TEST_SPLIT_DIR, "test_sales_data.csv")

train_df.to_csv(train_sales_path, index=False)
test_df.to_csv(test_sales_path, index=False)

In [25]:
print(f"Training sales data saved to {train_sales_path}")
print(f"Test sales data saved to {test_sales_path}")

Training sales data saved to C:\Users\kaank\Desktop\Test\KG-Enhanced-Recommender\train_test_split\train_sales_data.csv
Test sales data saved to C:\Users\kaank\Desktop\Test\KG-Enhanced-Recommender\train_test_split\test_sales_data.csv