In [15]:
import os
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [16]:
# Dynamic path settings
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath("__file__")))
DATA_DIR = os.path.join(BASE_DIR, "dataset")
TRAIN_TEST_SPLIT_DIR = os.path.join(BASE_DIR, "train_test_split")

In [17]:
# Check if directories exist and create if they don't
os.makedirs(TRAIN_TEST_SPLIT_DIR, exist_ok=True)

In [18]:
# File paths
product_csv_path = os.path.join(DATA_DIR, "product_details.csv")
customer_csv_path = os.path.join(DATA_DIR, "customer_details.csv")
sales_csv_path = os.path.join(DATA_DIR, "sales_data.csv")

In [19]:
# Reading CSV files
products_df = pd.read_csv(product_csv_path)
customers_df = pd.read_csv(customer_csv_path)
sales_df = pd.read_csv(sales_csv_path)

In [20]:
# Checking for missing values
print("Products DataFrame missing values:\n", products_df.isnull().sum(), "\n")
print("Customers DataFrame missing values:\n", customers_df.isnull().sum(), "\n")
print("Sales DataFrame missing values:\n", sales_df.isnull().sum(), "\n")

Products DataFrame missing values:
 Uniqe Id                     0
Product Name                 0
Brand Name               10002
Asin                     10002
Category                   830
Upc Ean Code              9968
List Price               10002
Selling Price              107
Quantity                 10002
Model Number              1772
About Product              273
Product Specification     1632
Technical Details          790
Shipping Weight           1138
Product Dimensions        9523
Image                        0
Variants                  7524
Sku                      10002
Product Url                  0
Stock                    10002
Product Details          10002
Dimensions               10002
Color                    10002
Ingredients              10002
Direction To Use         10002
Is Amazon Seller             0
Size Quantity Variant    10002
Product Description      10002
dtype: int64

Customers DataFrame missing values:
 Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

Sales DataFrame missing values:
 user id              295
product id           295
Interaction type     423
Time stamp           295
Unnamed: 4          3294
dtype: int64

In [21]:
# Dropping rows with missing values in specific columns
sales_df.dropna(subset=['user id', 'product id', 'Interaction type', 'Time stamp'], inplace=True)

In [22]:
# Checking the data
print("Products DataFrame:\n", products_df.head(), "\n")
print("Customers DataFrame:\n", customers_df.head(), "\n")
print("Sales DataFrame:\n", sales_df.head(), "\n")

Products DataFrame:
                            Uniqe Id
0  4c69b61db1fc16e7013b43fc926e502d  \
1  66d49bbed043f5be260fa9f7fbff5957
2  2c55cae269aebf53838484b0d7dd931a
3  18018b6bc416dab347b1b7db79994afa
4  e04b990e95bf73bbe6a3fa09785d7cd0

                                        Product Name  Brand Name  Asin
0  DB Longboards CoreFlex Crossbow 41" Bamboo Fib...         NaN   NaN  \
1  Electronic Snap Circuits Mini Kits Classpack, ...         NaN   NaN
2  3Doodler Create Flexy 3D Printing Filament Ref...         NaN   NaN
3  Guillow Airplane Design Studio with Travel Cas...         NaN   NaN
4                   Woodstock- Collage 500 pc Puzzle         NaN   NaN

                                            Category Upc Ean Code  List Price
0  Sports & Outdoors | Outdoor Recreation | Skate...          NaN         NaN  \
1  Toys & Games | Learning & Education | Science ...          NaN         NaN
2          Toys & Games | Arts & Crafts | Craft Kits          NaN         NaN
3  Toys & Games | Hobbies | Models & Model Kits |...          NaN         NaN
4            Toys & Games | Puzzles | Jigsaw Puzzles          NaN         NaN

  Selling Price  Quantity Model Number  ...
0       $237.68       NaN          NaN  ...  \
1        $99.95       NaN        55324  ...
2        $34.99       NaN          NaN  ...
3        $28.91       NaN          142  ...
4        $17.49       NaN        62151  ...

                                         Product Url Stock Product Details
0  https://www.amazon.com/DB-Longboards-CoreFlex-...   NaN             NaN  \
1  https://www.amazon.com/Electronic-Circuits-Cla...   NaN             NaN
2  https://www.amazon.com/3Doodler-Plastic-Innova...   NaN             NaN
3  https://www.amazon.com/Guillow-Airplane-Design...   NaN             NaN
4  https://www.amazon.com/Woodstock-Collage-500-p...   NaN             NaN

  Dimensions Color Ingredients Direction To Use  Is Amazon Seller
0        NaN   NaN         NaN              NaN                 Y  \
1        NaN   NaN         NaN              NaN                 Y
2        NaN   NaN         NaN              NaN                 Y
3        NaN   NaN         NaN              NaN                 Y
4        NaN   NaN         NaN              NaN                 Y

  Size Quantity Variant  Product Description
0                   NaN                  NaN
1                   NaN                  NaN
2                   NaN                  NaN
3                   NaN                  NaN
4                   NaN                  NaN

[5 rows x 28 columns]

Customers DataFrame:
    Customer ID  Age Gender Item Purchased  Category  Purchase Amount (USD)
0            1   55   Male         Blouse  Clothing                     53  \
1            2   19   Male        Sweater  Clothing                     64
2            3   50   Male          Jeans  Clothing                     73
3            4   21   Male        Sandals  Footwear                     90
4            5   45   Male         Blouse  Clothing                     49

        Location Size      Color  Season  Review Rating Subscription Status
0       Kentucky    L       Gray  Winter            3.1                 Yes  \
1          Maine    L     Maroon  Winter            3.1                 Yes
2  Massachusetts    S     Maroon  Spring            3.1                 Yes
3   Rhode Island    M     Maroon  Spring            3.5                 Yes
4         Oregon    M  Turquoise  Spring            2.7                 Yes

   Shipping Type Discount Applied Promo Code Used  Previous Purchases
0        Express              Yes             Yes                  14  \
1        Express              Yes             Yes                   2
2  Free Shipping              Yes             Yes                  23
3   Next Day Air              Yes             Yes                  49
4  Free Shipping              Yes             Yes                  31

  Payment Method Frequency of Purchases
0          Venmo            Fortnightly
1           Cash            Fortnightly
2    Credit Card                 Weekly
3         PayPal                 Weekly
4         PayPal               Annually

Sales DataFrame:
    user id                        product id Interaction type
0      1.0  4c69b61db1fc16e7013b43fc926e502d         purchase  \
1      2.0  66d49bbed043f5be260fa9f7fbff5957             view
2      3.0  2c55cae269aebf53838484b0d7dd931a             like
3      4.0  18018b6bc416dab347b1b7db79994afa             view
4      5.0  e04b990e95bf73bbe6a3fa09785d7cd0             like

        Time stamp  Unnamed: 4
0  10/10/2023 8:00         NaN
1  11/10/2023 8:00         NaN
2  12/10/2023 8:00         NaN
3  13/10/2023 8:00         NaN
4  14/10/2023 8:00         NaN

In [23]:
# Converting timestamp to datetime format
try:
    sales_df['Time stamp'] = pd.to_datetime(sales_df['Time stamp'], dayfirst=True)
except Exception as e:
    raise ValueError(f"Error converting 'Time stamp' to datetime: {e}")

In [24]:
# Encoding user and product IDs to numeric values
user_encoder = LabelEncoder()
product_encoder = LabelEncoder()
sales_df['user_id'] = user_encoder.fit_transform(sales_df['user id'])
sales_df['product_id'] = product_encoder.fit_transform(sales_df['product id'])

In [25]:
# Map interaction types to numeric values
interaction_mapping = {'view': 1, 'like': 2, 'purchase': 3}
sales_df['interaction_type'] = sales_df['Interaction type'].map(interaction_mapping)

In [26]:
# Splitting data into training and test sets
train_df, test_df = train_test_split(sales_df, test_size=0.2, random_state=42)

In [27]:
# Saving processed data
train_sales_path = os.path.join(TRAIN_TEST_SPLIT_DIR, "train_sales_data.csv")
test_sales_path = os.path.join(TRAIN_TEST_SPLIT_DIR, "test_sales_data.csv")

train_df.to_csv(train_sales_path, index=False)
test_df.to_csv(test_sales_path, index=False)

In [28]:
print(f"Training sales data saved to {train_sales_path}")
print(f"Test sales data saved to {test_sales_path}")

Training sales data saved to C:\Users\kaank\Desktop\Test\KG-Enhanced-Recommender\train_test_split\train_sales_data.csv
Test sales data saved to C:\Users\kaank\Desktop\Test\KG-Enhanced-Recommender\train_test_split\test_sales_data.csv

In [29]:
# Print dataframes to check
print("Train DataFrame:\n", train_df.head(), "\n")
print("Test DataFrame:\n", test_df.head(), "\n")

Train DataFrame:
       user id                        product id Interaction type
1485   1486.0  bc6faefaf23665e596730c45eba88676             view  \
995     996.0  b154535de7fb99aaf266e7d4734d34a7         purchase
608     609.0  6eb080a2fb050a168259b81c4085cbfb             view
2664   2665.0  ac38f5e3be8aa9d157b9ff91029c5eee             like
615     616.0  9ba26b43016cba318f40cccb1a816d47             like

              Time stamp  Unnamed: 4  user_id  product_id  interaction_type
1485 2023-01-20 10:00:00         NaN     1423        2140                 1
995  2023-10-22 08:00:00         NaN      958        2013                 3
608  2023-10-31 08:00:00         NaN      605        1218                 1
2664 2023-04-27 10:00:00         NaN     2561        1956                 2
615  2023-11-07 08:00:00         NaN      612        1760                 2

Test DataFrame:
       user id                        product id Interaction type
732     733.0  58326b92e98431ef3aaf41e18b9caf4c         purchase  \
2136   2137.0  f0f01c7d0145462e5deebbcf2939e02b             view
1325   1326.0  8cf38346e037ae0adcc348f1058dd38b         purchase
1804   1805.0  2ec213d43f574983168a0ca824b51b40             view
2147   2148.0  b81ae1922d03c2b625023e561586676e             like

              Time stamp  Unnamed: 4  user_id  product_id  interaction_type
732  2023-11-22 08:00:00         NaN      729         966                 3
2136 2023-02-25 10:00:00         NaN     2067        2711                 1
1325 2023-12-02 08:00:00         NaN     1288        1578                 3
1804 2023-04-22 10:00:00         NaN     1738         516                 1
2147 2023-03-08 10:00:00         NaN     2078        2092                 2